# Настройки логирования
LOGGING__LOG_FORMAT=pretty
LOGGING__LOG_FILE=./logs/app.log
LOGGING__LEVEL=DEBUG

# Настройки базы данных
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gidrator_db

# Настройки CORS
ALLOW_ORIGINS=["http://localhost:3000"]
ALLOW_CREDENTIALS=true
ALLOW_METHODS=["*"]
ALLOW_HEADERS=["*"]
