<!DOCTYPE html>
<html lang="ru">
  {% include 'head.html' %}
  <body>
    <div class="container">
      <div class="header">
        <h1>{% block header_title %}Gidrator{% endblock header_title %}</h1>
      </div>
      <div class="content">{% block content %}{% endblock content %}</div>
      <div class="footer">
        {% block footer %}
        <p>Это автоматическое письмо, не отвечайте на него</p>
        <p>© 2025 Gidrator. Все права защищены.</p>
        {% endblock footer %}
      </div>
    </div>
  </body>
</html>
