{% extends 'base.html' %} {% block title %} Восстановление пароля {%endblock
title %} {% block additional_styles %} .button { background: #e74c3c; } {%
endblock additional_styles %} {% block header_title %} Восстановление пароля
{%endblock header_title %} {% block content %}
<p>Здравствуйте, {{ user_name }}!</p>
<p>
  Вы запросили сброс пароля. Чтобы создать новый пароль, нажмите на кнопку ниже.
</p>
<p>
  <a href="{{ reset_url }}" class="button"> Сбросить пароль </a>
</p>
<p>Или перейдите по ссылке:</p>
<p>{{ reset_url }}</p>
<p>
  Ссылка действительна в течение 30 минут. Если вы не запрашивали сброс пароля,
  игнорируйте это сообщение.
</p>
{% endblock content %}
