{% extends 'base.html' %} {% block title %}Регистрация успешно завершена{%
endblock title %} {% block additional_styles %} .header { background: #27ae60; }
{% endblock additional_styles %} {% block header_title %}Регистрация успешно
завершена{% endblock header_title %} {% block content %}
<p>Здравствуйте, {{ user_name }}!</p>
<p>Поздравляем! Ваша регистрация на платформе Gidrator успешно завершена.</p>
<p>Теперь вам доступны все функции нашего сервиса.</p>
<p>
  <a href="{{ login_url }}" class="button">Войти в личный кабинет</a>
</p>
<p>Или перейдите по ссылке:</p>
<p>{{ login_url }}</p>
{% endblock content %}
